<div class="sticky-toolbox"
		ng-show="ctrl.canTogglePanel()"
		ng-class="{ open: ctrl.showPanel }">

	<div class="link-tool toolbox"
			i18n-title="navbar.tools"
			pulsar="{ index: 2, i18n: 'timeline.pulsar.settings', position: 'center left', className: 'pulse-settings'}"
			ng-click="ctrl.togglePanel($event)">
		<i class="ic-tools"></i>
	</div>


	<div class="content">
	
		<p class="title"><i18n>panel.themes</i18n></p>
		<div class="buttons-theme row">
			<div class="col-6" ng-repeat="skin in ctrl.skins">
				<a href="" class="bt skin-[[skin.displayName]]" ng-click="ctrl.saveTheme(skin, $event)" >
					[[lang.translate(skin.displayName)]]
				</a>
			</div>
		</div>

		<p class="title"><i18n>panel.widgets</i18n></p>
		<div class="row buttons-widget">
			<div class="col-3" ng-repeat="widget in ctrl.widgets">
				<a href="" class="bt"
						title="[[lang.translate(widget.platformConf.name)]]"
						ng-class="{ selected: widget.userPref.show, locked: widget.platformConf.mandatory }"
						ng-click="ctrl.toggleWidget(widget, $event)">
					<span class="inner">
						<i ng-class="ctrl.getWidgetIconClass(widget)"></i>
					</span>
				</a>
			</div>
		</div>

		<p class="title"><i18n>panel.languages</i18n></p>
		<div class="twelve cell lang-picker" workflow="timeline.allowLanguages" ng-if="ctrl.languages.length > 0">
			<div class="lang-current reduce-block-eight">
				<i class="globe"></i>
				<span>[[lang.translate('language.' + ctrl.languagePreference)]]</span>
			</div>
			<div class="flags">
				<div ng-repeat="language in ctrl.languages" ng-click="ctrl.saveLang(language, $event)">
					<i class="flag-[[language]]"></i>
					<em class="medium-importance">[[lang.translate('language.' + language)]]</em>
				</div>
			</div>
		</div>

	</div>
</div>
